*{
	box-sizing: border-box;
}

html, body {
	margin: 0;
	min-height: 100%;
	background-color: #3454D1;
}

@keyframes select{
	0% {
		background-color: none;
		clip-path: polygon(0% 0%, 100% 50%, 0% 100%, 50% 100%);
		left: 0;
		top: 0;
	}
	100% {
		background-color: #34D1BF;
		clip-path: polygon(0% 0%, 100% 50%, 0% 100%, 50% 100%);
		left: 100%;
		top: 0;
	}
}

.icon {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 250px; 	
}

.icon:hover {
	filter: contrast(2);
	filter: saturate(5);
}

.navbar{
	max-width: 300px;
	margin: 0;
	background-color: #B0228C;
	height: 100vh;
}

.menu {
	text-align: center;
}

a{
	width: 100%;
	font-family: 'Permanent Marker', cursive;
	font-size: 27px;
	color: yellow;
	text-decoration-line: none;
}

a:hover {
	color: #FF5BA7;
}

ul{
	list-style: none;
	padding-left: 0;
}

li{
	margin: 20px;
}

li:hover {
	animation-fill-mode: forwards;
	animation-name: select;
	animation-duration: 1s;
}
